[submodule "packages/base/any/initrds/buildroot/builds/buildroot-mirror"]
	path = packages/base/any/initrds/buildroot/builds/buildroot-mirror
	url = http://github.com/opennetworklinux/buildroot-mirror
[submodule "sm/infra"]
	path = sm/infra
	url = http://github.com/floodlight/infra
[submodule "sm/bigcode"]
	path = sm/bigcode
	url = http://github.com/floodlight/bigcode
[submodule "sm/build-artifacts"]
	path = sm/build-artifacts
        url = http://github.com/opennetworklinux/build-artifacts
[submodule "sm/dent-artifacts"]
	path = sm/dent-artifacts
	url = https://github.com/dentproject/dent-artifacts.git
[submodule "sm/iproute2"]
	path = sm/iproute2
	url = git://git.kernel.org/pub/scm/network/iproute2/iproute2.git
[submodule "sm/ethtool"]
	path = sm/ethtool
	url = git://git.kernel.org/pub/scm/network/ethtool/ethtool.git
